## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = app_type_counts[app_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000  # Adjust based on the distribution
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=int)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])  # Features
y = application_df['IS_SUCCESSFUL']  # Target

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train.shape[1]  # Number of input features
hidden_nodes_layer1 = 80  # First hidden layer nodes
hidden_nodes_layer2 = 30  # Second hidden layer nodes

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_10 (Dense)                     │ (None, 80)                  │           3,520 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_11 (Dense)                     │ (None, 30)                  │           2,430 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_12 (Dense)                     │ (None, 1)                   │              31 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [26]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [27]:
# Train the model
history = nn.fit(X_train, y_train, epochs=50, batch_size=64, validation_data=(X_test, y_test))

Epoch 1/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.4853 - loss: 43982.3750 - val_accuracy: 0.4659 - val_loss: 26563.8906
Epoch 2/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.4906 - loss: 7051.8423 - val_accuracy: 0.5341 - val_loss: 953.7350
Epoch 3/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.4919 - loss: 46442.3320 - val_accuracy: 0.4659 - val_loss: 15507.9639
Epoch 4/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.5033 - loss: 42927.0625 - val_accuracy: 0.5341 - val_loss: 722.8863
Epoch 5/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.5188 - loss: 8270.8574 - val_accuracy: 0.5341 - val_loss: 4237.8545
Epoch 6/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.5132 - loss: 28207.9414 - val_accuracy: 0.5341 - val_loss: 59.9112
Epoch 7/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.5164 - loss: 15454.4883 - val_accuracy: 0.4659 - val_loss: 36944.3281
Epoch 8/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.4874 - loss: 48120.3086 - val_accuracy: 0.5341 - val_loss: 9.5521
Epoch 9/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.5095 - loss: 4433.5454 - val_accuracy: 0.4659 - val_loss: 9575.1230
Epoch 10/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.5079 - loss: 6009.9287 - val_accuracy: 0.5229 - val_loss: 166.6166
Epoch 11/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.4903 - loss: 6408.2319 - val_accuracy: 0.4659 - val_loss: 4394.2578
Epoch 12/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.5073 - loss: 4810.8120 - val_accuracy: 0.5341 - val_loss: 551.6391
Epoch 13/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.5141 - loss: 2097.7073 - val_accuracy: 0.4659 - val_loss: 6263.2661
Epoch 14/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.4992 - loss: 4141.5713 - val_accuracy: 0.4659 - val_loss: 42926.5742
Epoch 15/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.5038 - loss: 16843.9277 - val_accuracy: 0.4659 - val_loss: 9262.6621
Epoch 16/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.4917 - loss: 16921.9902 - val_accuracy: 0.4659 - val_loss: 2559.0317
Epoch 17/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.4980 - loss: 4460.8813 - val_accuracy: 0.5341 - val_loss: 3032.9905
Epoch 18/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.5035 - loss: 15721.8340 - val_accuracy: 0.4659 - val_loss: 2303.0779
Epoch 19/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - accuracy: 0.5033 - loss: 1970.1705 - val_accuracy: 0.5341 - val_loss: 9935.6807
Epoch 20/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.5154 - loss: 8472.8789 - val_accuracy: 0.5341 - val_loss: 607.1068
Epoch 21/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.5080 - loss: 8221.0146 - val_accuracy: 0.4659 - val_loss: 1971.2866
Epoch 22/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.5054 - loss: 4590.1646 - val_accuracy: 0.4659 - val_loss: 2128.3398
Epoch 23/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.5098 - loss: 998.6787 - val_accuracy: 0.5341 - val_loss: 644.4662
Epoch 24/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - accuracy: 0.5092 - loss: 1752.7770 - val_accuracy: 0.4659 - val_loss: 3594.2869
Epoch 25/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.5016 - loss: 4827.0483 - val_accuracy: 0.5341 - val_loss: 266.0072
Epoch 26/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.4945 - loss: 632.8608 - val_accuracy: 0.5032 - val_loss: 608.2167
Epoch 27/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.5161 - loss: 1141.2993 - val_accuracy: 0.4659 - val_loss: 3865.4866
Epoch 28/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.4990 - loss: 1192.7928 - val_accuracy: 0.5000 - val_loss: 2637.1956
Epoch 29/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.5294 - loss: 1262.6808 - val_accuracy: 0.5341 - val_loss: 99.0433
Epoch 30/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.5353 - loss: 207.1526 - val_accuracy: 0.5341 - val_loss: 297.5781
Epoch 31/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.5284 - loss: 435.5324 - val_accuracy: 0.5229 - val_loss: 21.1346
Epoch 32/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.5389 - loss: 410.8705 - val_accuracy: 0.6348 - val_loss: 1.2903
Epoch 33/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6434 - loss: 57.9007 - val_accuracy: 0.6025 - val_loss: 65.4746
Epoch 34/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6592 - loss: 43.4791 - val_accuracy: 0.6848 - val_loss: 0.6111
Epoch 35/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.6905 - loss: 0.6019 - val_accuracy: 0.6880 - val_loss: 0.6028
Epoch 36/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6991 - loss: 0.5923 - val_accuracy: 0.6880 - val_loss: 0.5981
Epoch 37/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.6907 - loss: 0.5941 - val_accuracy: 0.6880 - val_loss: 0.5966
Epoch 38/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6935 - loss: 0.5876 - val_accuracy: 0.6891 - val_loss: 0.5954
Epoch 39/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6967 - loss: 0.5842 - val_accuracy: 0.6892 - val_loss: 0.5949
Epoch 40/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6956 - loss: 0.5864 - val_accuracy: 0.6913 - val_loss: 0.5947
Epoch 41/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6974 - loss: 0.5849 - val_accuracy: 0.6913 - val_loss: 0.5941
Epoch 42/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6969 - loss: 0.5872 - val_accuracy: 0.6907 - val_loss: 0.5941
Epoch 43/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6948 - loss: 0.5852 - val_accuracy: 0.6926 - val_loss: 0.5931
Epoch 44/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.6946 - loss: 0.5859 - val_accuracy: 0.6921 - val_loss: 0.5930
Epoch 45/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6955 - loss: 0.5836 - val_accuracy: 0.6920 - val_loss: 0.5928
Epoch 46/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.6966 - loss: 0.5846 - val_accuracy: 0.6927 - val_loss: 0.5922
Epoch 47/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.6951 - loss: 0.5873 - val_accuracy: 0.6948 - val_loss: 0.5935
Epoch 48/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6968 - loss: 0.5840 - val_accuracy: 0.6955 - val_loss: 0.5916
Epoch 49/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.6895 - loss: 0.5909 - val_accuracy: 0.6264 - val_loss: 0.6428
Epoch 50/50
429/429 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.6310 - loss: 0.6384 - val_accuracy: 0.6512 - val_loss: 0.6403

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.6952 - loss: 1.5825
Loss: 1.5825135707855225, Accuracy: 0.6951894760131836

In [31]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.